@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #f4f4f4;
}

.topbar {
    display: grid;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 10%;
    border-bottom: 2px solid rgb(77, 137, 99);
    padding-right: 3%;
    padding-left: 3%;
    font-size: 120%;
}

.pages {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.pages > * {
    display: flex;
    height: 100%;
    align-items: center;
    /* margin-top: 1%; */
    margin-left: 3%;
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
    /* border-bottom: 3px solid rgb(105, 165, 131); */
}